@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
  --color1: #ffffff;
  --color2: #f0f0f0;
  --color3: #089799;
  --color4: #05b7b9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color2);
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 20px;
  width: 30px;
}

.main-nav {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  padding: 11px;
  min-height: 65px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

nav ul li {
  margin-left: 7%;
  line-height: 1.5;
  letter-spacing: 1px;
}

nav ul a {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  transition: 0.3s;
}

a {
  color: var(--color1);
}

nav ul a:hover {
  color: #212121;
}

.sticky {
  background: var(--color3);
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}

header {
  height: 820px;
  background: url(../img/bg.jpeg);
  background-size: cover;
  color: var(--color1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes moveRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.filter {
  width: 100%;
  height: 820px;
  background: var(--color4);
  opacity: 90%;
  z-index: 8;
  position: absolute;
}

.row {
  z-index: 9;
  width: 100%;
  display: flex;
}

.column {
  height: 500px;
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row h2 {
  font-size: 35px;
  animation: moveRight 0.5s ease-out 0.15s backwards;
  margin-bottom: 100px;
}

.row h1 {
  font-size: 50px;
  font-weight: bold;
  color: #f0f0f0;
  animation: moveRight 0.5s ease-out 0.6s backwards;
}

.foto {
  border: 5px solid black;
  border-radius: 40%;
  width: 400px;
  height: auto;
}

.btn {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: var(--color3);
  text-align: center;
  line-height: 38px;
  letter-spacing: 1px;
  text-decoration: none;
  background: var(--color1);
  cursor: pointer;
  transition: 0.5s;
  z-index: 9;
}

.btn:hover {
  background: #bceced;
  text-decoration: none;
}

.section {
  height: 650px;
}

#about {
  padding-top: 60px;
  padding-bottom: 15px;
  height: 655px;
}

#skills {
  height: 700px;
  padding-top: 90px;
  padding-bottom: 15px;
}

#works {
  height: 640px;
  padding-top: 95px;
}

#contacts {
  padding-top: 70px;
  height: 752px;
}

.heading1 {
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 8px;
  color: var(--color3);
}

.heading2 {
  font-size: 30px;
  line-height: 0.5;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #000404;
}

.column1 img {
  max-width: 100%;
  height: auto;
}

.row1 {
  margin-top: 10px;
  width: 100%;
}

.row2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.column1 {
  flex-basis: 45%;
}

.column2 {
  padding-left: 50px;
}

tr td:nth-child(2n) {
  width: 30px;
  padding-left: 10px;
}

tr td {
  padding: 10px 0;
}

table {
  padding-top: 15px;
}

.attachment {
  height: 100px;
  width: 100%;
  background-image: url(../img/bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
  filter: var(--color3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter2 {
  width: 100%;
  height: 100px;
  background: var(--color4);
  opacity: 80%;
  position: absolute;
}

.skills-item1,
.skills-item2 {
  width: 40%;
  margin: 50px;
}

.skillsName {
  margin-top: 40px;
}

.skillsName h1 {
  margin-bottom: 5px;
  font-size: 20px;
}

.skillHtml {
  float: right;
  font-size: 18px;
}

.skillCss {
  float: right;
  margin-right: 2%;
  font-size: 18px;
}

.skillJavaScript {
  float: right;
  margin-right: 10%;
  font-size: 18px;
}

.skillPhotoshop {
  float: right;
  margin-right: 45%;
  font-size: 18px;
}

.skillFigma {
  float: right;
  margin-right: 35%;
  font-size: 18px;
}

.skillTypeScript {
  float: right;
  margin-right: 60%;
  font-size: 18px;
}

.skillAngular {
  float: right;
  margin-right: 62%;
  font-size: 18px;
}

.skillReact {
  float: right;
  margin-right: 55%;
  font-size: 18px;
}

.skillVue {
  float: right;
  margin-right: 65%;
  font-size: 18px;
}

.skillBootstrap {
  float: right;
  margin-right: 45%;
  font-size: 18px;
}

.skilljQuery {
  float: right;
  margin-right: 50%;
  font-size: 18px;
}

.skillGit {
  float: right;
  margin-right: 40%;
  font-size: 18px;
}

.progress-bar {
  border-radius: 100px;
  margin-top: -5px;
  height: 5px;
  background: var(--color3);
}

.progress {
  border-radius: 100px;
  width: 100%;
  height: 5px;
  background: #090909;
}

.html {
  width: 95%;
}

.css {
  width: 93%;
}

.javaScript {
  width: 85%;
}

.photoshop {
  width: 50%;
}

.figma {
  width: 60%;
}

.typeScript {
  width: 36%;
}

.angular {
  width: 33%;
}

.react {
  width: 40%;
}

.vue {
  width: 30%;
}

.bootstrap {
  width: 50%;
}

.jQuery {
  width: 45%;
}

.git {
  width: 55%;
}

.heading3 {
  font-size: 34px;
  line-height: 0.5;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.row4 {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
}

.row5 {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row6 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px auto;
}

.portfolioItem {
  width: 24%;
  height: 250px;
  margin: 20px;
  border: 4px solid var(--color3);
  background-color: #17b1b432;
  border-radius: 10px;
}

.itemSkill {
  color: #000404;
  text-decoration: none;
  text-align: center;
}

.itemSkill p {
  padding-bottom: 50px;
}

#footer {
  background-color: var(--color3);
  color: var(--color1);
  padding: 20px 0;
}

#footer p {
  display: flex;
  justify-content: center;
}

.icon {
  width: 60px;
  background: var(--color3);
  border-radius: 40%;
  padding: 15px;
  margin: 15px;
}

.row7 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.form {
  width: 50%;
  border-color: var(--color3);
  padding-left: 50px;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#name,
#email {
  margin: 10px;
  margin-right: 0;
  padding: 15px;
  width: 250px;
  height: 50px;
  border: 2px solid var(--color3);
}

#subject,
#message {
  margin: 10px;
  width: 510px;
  padding: 15px;
  height: 50px;
  border: 2px solid var(--color3);
}

#message {
  height: 150px;
}

.form input::placeholder,
.form textarea::placeholder {
  color: var(--color3);
}

.contact {
  width: 40%;
  margin: 10px;
  margin-left: 60px;
}

.information h4 {
  margin-bottom: 0;
}

.cont {
  height: 93px;
  margin: 5px;
  width: 40%;
  display: flex;
  padding-left: 50px;
}

#button {
  height: 38px;
  padding: 0 30px;
  color: #f0f0f0;
  text-align: center;
  line-height: 38px;
  letter-spacing: 1px;
  text-decoration: none;
  background: var(--color3);
  cursor: pointer;
  transition: 0.5s;
  margin: 5px 10px;
  border: none;
}

#button:hover {
  background: #bceced;
  text-decoration: none;
  color: #090909;
}

.map {
  margin-bottom: -5px;
}

@media screen and (max-width: 1160px) {
  header {
    padding: 15px;
    height: 800px;
  }

  .filter {
    height: 800px;
  }

  .row h1 {
    font-size: 32px;
    font-weight: bold;
    color: #f0f0f0;
  }

  .row h2 {
    font-size: 29px;
    margin-bottom: 30px;
  }

  .row1,
  .row3 {
    margin-top: 60px;
  }

  .foto {
    border: 5px solid black;
    border-radius: 40%;
    width: 70%;
    height: auto;
  }

  section {
    padding-top: 40px;
    height: 690px;
  }

  .heading1 {
    margin-bottom: 20px;
  }

  .heading2 {
    margin-bottom: 25px;
    font-size: 29px;
  }

  .heading3 {
    font-size: 30px;
    line-height: 0.5;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .column1 {
    padding-left: 30px;
    flex-basis: 60%;
  }

  .column2 {
    flex-basis: 50%;
    margin-left: 10px;
    padding-left: 20px;
  }

  tr td {
    padding: 5px 0;
  }

  table {
    padding-top: 5px;
  }

  .btn {
    margin-top: 5px;
  }

  .skills-item {
    margin: 20px 14px;
    width: 16, 6666667%;
    height: 16, 6666667%;
    flex: 0 0 auto;
  }

  .skills-item1,
  .skills-item2 {
    width: 40%;
    margin: 35px;
  }

  .itemSkill p {
    padding-bottom: 15px;
  }

  #about {
    padding-top: 70px;
  }

  #works,
  #skills {
    padding-top: 70px;
    height: 650px;
  }

  #contacts {
    height: 875px;
  }

  .skillsName h1 {
    margin-bottom: 3px;
    font-size: 15px;
  }

  .portfolioItem {
    width: 30%;
    height: 200px;
    margin-bottom: 25px;
  }

  .row7 {
    padding-top: 0;
    justify-content: center;
  }

  .row7 .contact {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    margin: 0 10px;
  }

  .cont {
    padding-left: 0;
    width: 70%;
    height: 90px;
    margin: 0;
  }

  .form {
    width: 70%;
  }

  #name,
  #email {
    padding: 5px 15px;
    width: 250px;
    height: 40px;
  }

  .map {
    margin-top: 20px;
  }

  #button {
    margin-left: 25%;
  }
  .attachment {
    height: 95px;
  }
  .filter2 {
    height: 95px;
  }
}

@media screen and (max-width: 860px) {
  header {
    padding: 15px;
  }

  header,
  #skills,
  .filter {
    height: 700px;
  }

  #about {
    height: 665px;
    padding-top: 40px;
  }

  .container {
    display: flex;
    justify-content: end;
  }

  .row {
    width: 650px;
    flex-wrap: wrap;
  }

  .row2 {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    height: auto;
    flex-basis: 100%;
  }

  .mobile-toggle {
    display: block;
    right: 30px;
  }

  .sticky {
    box-shadow: none;
    z-index: 10;
  }

  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    background: var(--color1);
    display: block;
  }

  nav {
    display: none;
  }

  .main-nav.open nav {
    display: block;
    position: absolute;
    background: var(--color4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.38);
    width: 150px;
    margin-top: 50px;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
    text-align: center;
  }

  nav ul li:first-child {
    margin-top: 30px;
  }

  .foto {
    width: 300px;
    height: auto;
  }

  .row h2 {
    font-size: 25px;
  }

  .row h1 {
    font-size: 27px;
  }

  .heading1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .heading2 {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .column1 {
    padding-left: 0;
    flex-basis: 55%;
  }

  .attachmen {
    display: flex;
    justify-content: center;
  }

  tr td {
    padding: 1px 0;
  }

  .btn {
    margin-top: 2px;
  }

  #skills {
    padding-top: 10px;
  }

  .skills-item {
    margin: 15px 10px;
    width: 135px;
    height: 135px;
  }

  .row1 {
    margin-top: 30px;
  }

  .row4 {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-item1,
  .skills-item2 {
    margin: 0;
    width: 50%;
  }

  /* .skillsName {
        margin-top: 15px;
    } */

  .portfolioItem {
    width: 40%;
    height: 142px;
    margin: 10px 30px;
  }
  .portfolioItem h3 {
    margin: 0;
  }
  .portfolioItem p {
    margin-top: 0;
    padding: 0;
  }

  #contacts {
    padding-top: 60px;
  }

  .map {
    width: 100%;
  }

  .form {
    padding-left: 50px;
  }

  #name,
  #email {
    width: 180px;
  }

  #subject,
  #message {
    width: 370px;
    padding: 15px;
    height: 45px;
  }

  #message {
    height: 100px;
  }

  .attachment {
    height: 90px;
  }
  .filter2 {
    height: 90px;
  }
}

@media screen and (max-width: 480px) {
  .row1 {
    margin: 0;
  }

  header,
  .filter {
    height: 600px;
  }

  #skills {
    height: 600px;
    margin-bottom: 20px;
  }

  #about {
    height: 550px;
  }

  .foto {
    width: 200px;
    height: auto;
  }

  .skills-item {
    margin: 10px 5px;
    width: 120px;
    height: 120px;
  }

  .skills-item h1 {
    font-size: 18px;
  }

  .skillsName {
    margin-top: 30px;
  }

  .skillsName span {
    font-size: 13px;
  }

  .skills-item1,
  .skills-item2 {
    margin: 0;
    width: 60%;
  }

  .portfolioItem {
    width: 43%;
  }

  .row7 .contact {
    justify-content: flex-start;
  }

  #name,
  #email {
    width: 120px;
  }

  #subject,
  #message {
    width: 250px;
  }

  #message {
    height: 100px;
  }

  .attachment {
    height: 80px;
  }

  .filter2 {
    height: 80px;
  }
}
